<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <meta charset="UTF-8">
    <title>Title</title>
<body>
    <script src="/static/JS/base.js">
    </script>

    <header>
        <nav class="navbar">
            {% if current_user.is_authenticated %}
            <a class="Auth-login" href="/profile"> {{ current_user.login }} </a>
            {% else %}
            <a class="reg" href="/register">Зарегистрироваться</a>
            <a class="log" href="/login">Войти</a>
            {% endif %}
        </nav>
    </header>

</body>
</html>